# Python challange

https://tealfeed.com/4-fantastic-intermediate-python-programming-challenges-b7354

#1. The Star Triangle Pattern
Given an input by the user in the form of a positive integer, the program should print out a triangle-shaped pattern made of the star character (*). The input should be stored in a variable called N. N represents the number of rows in the pattern. The number of stars in each row increases by 2 each time. eg $N=3$

  $$*$$
  
 $$***$$
 
$$*****$$

* Simple Python Code

In [1]:
N = int(input("Enter an integer:"))  #input the integer N, for number of rows in the star traingle formation
for i in range(N+1): 
    print( (abs(N-i))*" ",(2*i - 1)*"*")
        
    #The "abs(N-1)" creates appropriate empt spaces before the start of each rows to properly allign the triangle
    #The "2i -1" ensures that the diffrence in the number of stars between two consecutive rows is 2

Enter an integer:5

     *
    ***
   *****
  *******
 *********

* Callable Python Function

In [3]:
def Star_Triangle():  #Python callable function
    N = int(input("Enter an integer:"))  #input the integer N, for number of rows in the star traingle formation
    for i in range(N+1): 
        print( (abs(N-i))*" ",(2*i - 1)*"*")
        
        #The "abs(N-1)" creates appropriate empt spaces before the start of each rows to properly allign the triangle
        #The "2i -1" ensures that the diffrence in the number of stars between two consecutive rows is 2

In [4]:
Star_Triangle()

Enter an integer:5

     *
    ***
   *****
  *******
 *********

#2. Sum of Integers in String
Given a sentence or cluster of words, find out if there are any integers inside the string. Print out the total number of integers. If there’s at least 1 integer present, find the sum of all of the integers found and print out the sum.

For example:

If string = “200 plus 500 is equal to”

2 integers found

sum: 700

In [96]:
String = "200 plus 500 is equal to" #string to analize
split = String.split() #split the string at empty spaces
INTAGERS = ["0","1","2","3","4","5","6","7","8","9"] #list of intagers
count = 0
sum = 0
for word in split:
    TRUE_LIST = []
    for i in range(len(word)):
        if word[i] in INTAGERS:
            TRUE_LIST.append( int(word[i]) == True )
    if len(word) == len(TRUE_LIST):
        count = count + 1
        sum = sum + int(word)
print(str(count)+" Intagers found","\n""sum: "+str(sum) )

#Takes each word and check if each element is an intager, and if its true, then we create a list of boolen values ""

2 Intagers found
sum: 700

#3. FizzBuzz
Cycle through every number from 1 to some number that the user provides as input. (only integers) and print each one onscreen. If the number is divisible by 4, then instead of printing the number itself, print “Fizz”. If the number is divisible by 6, then instead of printing the number itself, print “Buzz”. If the number is divisible by both 4 and 6, print “FizzBuzz”. If the number doesn’t satisfy any of these conditions, simply print the number itself.

For example:

If max = 13

The range would be 1 to 13

\begin{align}
1\\
2\\
3\\
\text{Fizz}\\
5\\
\text{Buzz}\\
7\\
\text{Fizz}\\
9\\
10\\
11\\
\text{FizzBuzz}\\
13
\end{align}

In [103]:
max = int( input("enter an intager: ") )
if max < 4:
    print(max)
else:
    for i in range(1,max+1):
        if i%4 == 0 and i%6 == 0:
            print("FizzBuzz")
        elif i%4 == 0:
            print("fizz")
        elif i%6 == 0:
            print("Buzz")
        else:
            print(i)

enter an intager: 13
1
2
3
fizz
5
Buzz
7
fizz
9
10
11
FizzBuzz
13

#4. Sum of Two
Create a function called sumOfTwo(a, b, v) with 3 parameters.

a is a list of numbers values, such as $[22, 341, 21, 5, 0, -5]$.

b is also a list of number values, just like a.

a and b can be anything; negative, a float, etc.

v is a single number value.

The function should check if it is possible to take one number from both list a and b, and add the numbers together to equal the number v.

If there are 2 numbers that can do this, print “True”. Otherwise, print “False”.

For example:

sumOfTwo([1, 2, 3], [10, 20, 30], 23)

The output would be “True” because 3 + 20 = 23.

In [141]:
def SumOfTwo(a,b,v):
    import numpy as np #package to convert list into numpy array
    a = np.array(a) #convert list into a numpy array for easy calculations. Arrays can be added together
    b = np.array(b)
    L = []
    for i in a:
        a_b = i + b #Add each value of a to all values of b, then append the results in a list L
        for j in a_b:
            L.append(j)
    if v in L: #check if the list L contain v, and then print out the appropriate result
        print("True")
    else:
        print("False")

In [140]:
SumOfTwo([1, 2, 3], [10, 20, 30], 33)

True